<nav class="flex justify-between py-10 w-[80%] mx-auto">
  <a href="/" class=" bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 text-2xl font-extrabold">Logo</a>
  <div class="flex gap-x-10">
    <% if(user) { %>
    <a class="text-lg" href="/user/profile">Home</a>
    <a class="text-lg" href="/post/create">Create Post</a>
    <% }else { %>
    <a class="text-lg" href="/">Home</a>

    <% } %>
    <a class="text-lg" href="/about">About</a>
    <a class="text-lg" href="/contact">Contact</a>
  </div>

  <div>
    <% if(user) { %>
    <a class="text-lg bg-red-500 text-white rounded" href="/user/setting">
      <img class="rounded-full w-[50px] h-[50px]" src="<%= user.avatar.thumbnailUrl%>" alt="">
    </a>

    <% }else { %>
    <a class="text-lg text-white bg-blue-500 hover:bg-blue-600 duration-300 px-5 py-2 rounded" href="/login">Login</a>

    <% } %>
  </div>
</nav>
