<%- include("partials/header")%>
<%- include("partials/nav")%>
<div class="w-[80%] mx-auto  p-10 mt-4 rounded">
 <h1 class="text-3xl font-bold text-center">Add New Product</h1>
</div>

<script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>

<%- include("partials/footer")%>
