<%- include("partials/header")%>
<%- include("partials/nav")%>
<div class="w-[80%] mx-auto bg-slate-700 text-white p-10 mt-4 rounded">
  <h1 class=" mb-10 text-white text-5xl font-bold">This Is Contact Page</h1>
</div>
<%- include("partials/footer")%>
