<%- include("partials/header")%> <%- include("partials/nav")%>
<div class="w-[80%] mx-auto bg-slate-700 p-10 mt-4 rounded">
  <form class="w-full text-center" action="/user/reset-password/<%= user._id%>" method="post">
    <h1 class="mb-10 text-white text-5xl font-bold">
      Reset Password Page
    </h1>
    <input
      class="w-1/2 rounded px-4 py-2 outline-none"
      type="password"
      name="oldpassword"
      placeholder="Enter Old Password"
    />
    <br /><br />
    <input
      class="w-1/2 rounded px-4 py-2 outline-none"
      type="password"
      name="newpassword"
      placeholder="Enter New Password"
    />
    <br /><br />
    <button class="text-white px-6 py-2 w-1/2 rounded bg-blue-600">Reset</button>
  </form>
</div>
<%- include("partials/footer")%>
